<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="../../assets/estilos/header.css">
</head>
<body>
    <nav id="topo">
        <a href="../../" target="_top">HOME</a>
        <a href="../../eventos/" target="_top">EVENTOS</a>
        <a href="../../contato/" target="_top">CONTATO</a>
        <a class="direita" href="../../sobre/" target="_top">SOBRE</a>
        <div class="dropdown">
            <button class="btn">CURSOS</button>
            <div class="content">
                <a href="../../ads/" target="_top">Análise e Desenvolvimento de Sistemas</a>
                <a href="#" target="_top">Engenharia de Produção</a>
            </div>
        </div>
        <a href="../../entrar/" target="_top">ENTRAR</a>
    </nav>
    <div>
        <img src="../../assets/images/Logo.jpg" alt="Logo do IFSP">
    </div>
</body>
</html>